article.Panel.Panel--icon
  h1.Panel-heading= panel.title
  .Panel-content.Icon(class="Icon--#{panel.icon_classname}")
    p=panel.content
    - if panel.link_page
      p
        a(href="#{panel.link_page.url}") #{panel.link_text|default:panel.link_page}
