article.Panel.Panel--1-3.Panel--icon
  h1.Panel-heading
    - if panel.link_page
      a.Icon(href="#{panel.link_page.url}", class="Icon--#{panel.icon_classname}")
        span.Panel-headingText #{panel.title}
    - else
      span.Icon(class="Icon--#{panel.icon_classname}") #{panel.title}
  .Panel-content
    p=panel.content
