- load staticfiles core_tags wagtailimages_tags

if panel.link_page.live or not panel.link_page
  article.Panel.Panel--image
    .Panel-content
      h2.Panel-heading
        - if panel.link_page
          a(href="#{panel.link_page.url}")
            span.Panel-headingText #{panel.title}
        - else
          span #{panel.title}
      p=panel.content
    - if panel.link_page
      a.Panel-image(href="#{panel.link_page.url}")
        - image panel.image original
    - else
      span.Panel-image
        - image panel.image original
