- extends "base.jade"
- load wagtailcore_tags core_tags

block content
  main(role="main")
    article
      - include "includes/_breadcrumb.jade"
      header.PageHeader
        .PageHeader-row
          h1.PageHeader-title= self.title
      .Content
        .Article
          .Article-content.Article-content--full
            - regroup object_list by get_letter as letters
            nav
              a(name="alphabet")
              ul.LetterNavigation
                - for letter in letters|fill_alphabet_blanks
                  li.LetterNavigation-listItem
                    - if letter.list
                      a(href="#letter-{{ letter.grouper }}") #{letter.grouper}
                    - else
                      #{letter.grouper}
            dl.DefinitionList
              - for letter in letters
                h2.LetterNavigation-letter
                  a(name="letter-{{ letter.grouper }}")
                  | #{letter.grouper}
                - for item in letter.list
                  dt
                    a(name=item.slug)
                    #{item.name}
                  dd
                    #{ item.description|richtext }
          - include "includes/_feedback-form.jade"
