- extends "base.jade"
- load wagtailcore_tags wagtailextra_tags helplines staticfiles pages_tags

block canonical
  //- Must have the ID canonical to update GA tracking page event
  link(id="canonical", rel="canonical", href=self.full_url)

block content
  main(role="main")
    article#content
      header.PageHeader
        .PageHeader-row
          h1.PageHeader-title
            | Local support
            if postcode
              | in #{postcode}
          p.PageHeader-subTitle Your local support team is #{self.title}
          p.PageHeader-action
            a(href="/find-local-support") Change postcode
      .Content
        .Article
          section.Article-content
            h3 Talk to someone on the phone
            if self.show_generic_content
              p
                | Call&nbsp;
                strong 0845 450 3936
              p You’ll be able to get emotional support and information, and be put you in touch with other organisations that can help.
              p Lines are open Monday to Friday 8am to 8pm, weekends 9am to 7pm, and bank holidays 9am to 5pm.
              p It’s free from a landline, but you may be charged if you call from a mobile.
            else
              if self.service_phone_number
                p
                  | Call&nbsp;
                  strong #{self.service_phone_number}
              if self.service_opening_hours
                p #{self.service_opening_hours}
              if self.phoneline_cost
                p #{self.phoneline_cost}
            h3 Get information online
            if self.show_generic_content
              p
                a(href="https://www.victimsupport.org.uk/", rel="external") Visit the Victim Support website
              p This website includes information about what to do if you or someone you know has been a victim of crime. You’ll be able to find phone numbers and website links for emotional and practical support where you live.
            else
              if self.service_website_url
                p
                  a(href=self.service_website_url, rel="external") Visit the #{self.service_name} website
                #{self.content|richtext|heading_ids}
            h3 How the team can help
            p The support team can help you get your life back on track by offering you personal support and advice on issues including:
            ul
              li mental and physical health
              li drug or alcohol problems
              li finances, benefits and supporting your family
              li shelter and accommodation
              li education, skills and employment
            p If needed, they can arrange for you to have:
            ul
              li emotional support
              li counselling
              li somewhere safe to stay
              li someone to represent you, who’ll make sure you get all the help you need
            if self.trackmycrime_url
              h3 Find out about your case
              p
                a(href=self.trackmycrime_url, rel="external") Sign in to TrackMyCrime
              p See what’s happening with the investigation of your case.
          - include "includes/_feedback-form.jade"
