- extends "base.jade"
- load wagtailcore_tags helplines staticfiles pages_tags

block head
  link(rel="canonical", href=self.url)

block content
  main(role="main")
    - include "includes/_breadcrumb.jade"
    .Content
      article.Article
        .Map
          .Map-content
            h1.Map-title= self.title
            if postcode
              h2.Map-text
                strong.Map-searchTerm #{postcode}
                | &nbsp;is covered by the #{self.title} support team
            p.Map-text
              | Not right?&nbsp;
              a(href="/") Search again
          img.Map-image(src="{% static '' %}images/pcc-maps/{{ self.pcc_slug }}.png")
        .Article-content
          h3 Online information and help
          if self.show_generic_content
            p
              a(href="https://www.victimsupport.org.uk/", rel="external") Visit the Victim Support website
            p This website includes information about what to do if you or someone you know has been a victim of crime. You'll be able to find phone numbers and website links for emotional and practical support where you live.
            h3 Talk to someone on the phone
            p Call 0845 450 3936
            p You'll be able to get emotional support and information, and be put you in touch with other organisations that can help.
            p Lines are open Monday to Friday 8am to 8pm, weekends 9am to 7pm, and bank holidays 9am to 5pm.
            p It's free from a landline, but you may be charged if you call from a mobile.
          else
            if self.service_website_url
              p
                a(href=self.service_website_url, rel="external") Visit the #{self.service_name} website
            #{self.content|richtext}
            if self.service_phone_number
              h3 Talk to someone on the phone
              p Call #{self.service_phone_number}
            if self.service_opening_hours
              p #{self.service_opening_hours}
            if self.phoneline_cost
              p #{self.phoneline_cost}
          h3 Find a court or tribunal
          p
            | Get addresses and other details by using the&nbsp;
            a(href="https://www.gov.uk/find-court-tribunal", rel="external") court and tribunal finder
            |.
        aside.Article-meta
          - if self.show_generic_content
            a(href="https://www.victimsupport.org.uk/")
              img.u-border(src="{% url2png 'https://www.victimsupport.org.uk/' %}")
          - elif self.service_website_url
            a(href=self.service_website_url)
              img.u-border(src="{% url2png self.service_website_url %}")
          - include "includes/_security-banner.jade"
        - include "includes/_feedback-form.jade"

