- extends "base.jade"
- load wagtailcore_tags helplines staticfiles

block head
  link(rel="canonical", href=self.url)

block content
  main(role="main")
    header.PageHeader
      - include "includes/_breadcrumb.jade"
      h1.PageHeader-title= self.title
    .Content
      article.Article
        .Map
          - if postcode
            h2.Map-text
              strong.Map-searchTerm #{postcode}
              | &nbsp;is covered by the #{self.title} support team
          img.Map-image(src="{% static '' %}images/pcc-maps/{{ self.slug }}.png")
        .Article-content
          h2 #{self.service_name}
          #{ self.content|richtext }
          - if self.service_website_url
            p
              a(href=self.service_website_url) Visit the website
              | &nbsp;to find a full list of victim services in your area and get the emotional and practical support you need.
          - if self.service_phone_number
            p or call #{self.service_phone_number}
          - if self.service_opening_hours
            p
              | Opening hours:
              br
              | #{self.service_opening_hours}
        aside.Article-meta
          a(href=self.service_website_url)
            img.u-border(src=self.get_screenshot_url)
        - include "includes/_feedback-form.jade"

