- extends "base.jade"
- load wagtailcore_tags helplines staticfiles

block content
  main(role="main")
    header.PageHeader
      .Content
        - include "includes/_breadcrumb.jade"
        h1.PageHeader-title= self.title
        h2.PageHeader-subTitle Support services
    .Content
      article.Article
        .Map
          - if self.postcode
            h2.Map-text
              | Victims services for&nbsp;
              strong #{self.postcode}
          img.Map-image(src="{% static '' %}images/pcc-maps/{{ self.slug }}.png")
        .Article-content
          h2 #{self.service_name}
          #{ self.content|richtext }
          - if self.service_website_url
            p
              a(href=self.service_website_url) Visit the website
              | &nbsp;to find a full list of victim services in your area and get the emotional and practical support you need.
          - if self.service_phone_number
            p or call #{self.service_phone_number}
          - if self.service_opening_hours
            p
              | Opening hours:
              br
              | #{self.service_opening_hours}
        aside.Article-meta
          a(href=self.service_website_url)
            img.u-border(src=self.get_screenshot_url)
        - include "includes/_feedback-form.jade"

